<footer>{{ t.footer_ecosystem }} &middot; <a href="https://www.warp-charger.com">warp-charger.com</a> &middot; <a href="https://github.com/Tinkerforge/api.warp-charger.com">{{ t.footer_source }}</a>
<div class="footer-legal"><a href="https://www.tinkerforge.com/{{ lang }}/home/legal_info/">{{ t.footer_legal_info }}</a> &middot; <a href="https://www.tinkerforge.com/{{ lang }}/home/privacy_notice/">{{ t.footer_privacy }}</a> &middot; <a href="https://www.tinkerforge.com/{{ lang }}/home/terms_and_conditions/">{{ t.footer_terms }}</a></div>
</footer>
